---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">
                        {% if page.description %}
                            {{ page.description }}
                        {% else %}
                            <strong>
                            <span class="typed_element">
                                <div class="typed_sub-element">Hello!^1500</div>
                                <div class="typed_sub-element">Welvcome t</div>
                                <div class="typed_sub-element">Welcome to my blog.^500</div>
                                <div class="typed_sub-element">Feel free to Read and Learn :)</div>
                            </span>
                            </strong>

                            <!-- jQuery -->
                            <script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>
                            <!-- Typed -->
                            <script src="{{ "/js/typed.js " | prepend: site.baseurl }}"></script>
                            <script type="text/javascript">
                                /* start typed element */
                                // http://stackoverflow.com/questions/24874797/select-div-title-text-and-make-array-with-jquery

                                // http://stackoverflow.com/questions/33441448/including-typed-js-in-wordpress
                                (function($){
                                    var subElementArray = jQuery.map(jQuery('.typed_sub-element'), function(el) { return jQuery(el).text(); }); 
                                    jQuery(".typed_element").typed({
                                        strings: subElementArray,
                                        typeSpeed: 25,
                                        contentType: 'html',
                                        showCursor: true,
                                        loop: false,
                                        loopCount: true,
                                        backDelay: 0
                                    });
                                })(jQuery);
                            /* end typed element */
                            </script>


                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
